@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --bg-primary: #5200BD;
    --bg-secondary: #5F00DB;  
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: radial-gradient(circle, rgba(82,0,189,1) 50%, rgba(82,0,189,0.8407738095238095) 100%);
}

/* Main Section Styling */
.main-container {
display: grid;
grid:
    "header header header" auto
    ". search rightSide" 1fr
    ". . ." auto
    / auto 1fr 1fr;
    gap: 50px;
height: 100%;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='800' preserveAspectRatio='none' viewBox='0 0 1920 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask3663%26quot%3b)' fill='none'%3e%3crect width='1920' height='800' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient3664%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1920 0L1337.17 0L1920 366.87z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1337.17 0L1920 366.87L1920 393.5L789.4300000000001 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M789.4299999999998 0L1920 393.5L1920 558.08L541.5399999999998 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M541.54 0L1920 558.08L1920 624.13L508.90999999999997 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 800L129.29 800L0 400.22z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 400.22L129.29 800L1006.65 800L0 380.17z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 380.17L1006.65 800L1463.1399999999999 800L0 292.78000000000003z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 292.78000000000003L1463.1399999999999 800L1530.27 800L0 265.07000000000005z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask3663'%3e%3crect width='1920' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='14.58%25' y1='135%25' x2='85.42%25' y2='-35%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3664'%3e%3cstop stop-color='rgba(58%2c 0%2c 133%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(95%2c 0%2c 219%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

/* Header Section Styling */
.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    font-size: 1.3rem;
    color: white;
}

.temperatures {
    display: flex;
    gap: 20px;
}

.temperatures button {
    font-size: 0.9rem;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    padding: 8px;
    width: 100px;
    color: white;
    cursor: pointer;
    transition: background-color 200ms ease-in;
}

.temperatures button:hover {
    background: linear-gradient(90deg, #0065FC, transparent) #0065fcbd;
    border: solid transparent 2px;
}

.btn-active {
    background: linear-gradient(90deg, rgb(0, 101, 252), transparent) rgba(0, 101, 252, 0.74) !important;
    border: none !important;
}

/* Search Section Styling */
.search-container {
    grid-area: search;
    color: white;
    margin: 80px;
}

.search-description h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 50px;
}

.search-description p {
    font-size: 1.1rem;
    margin-top: 30px;
}

.search-input {
    display: flex;
    position: relative;
    margin-top: 50px;
    height: 70px;
}

.search-input input {
    color: white;
    font-size: 1rem;
    background-color: rgba(88, 27, 255, 0.3);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.error-message {
    opacity: 0;
    color: rgb(255, 56, 56);
    margin-left: 5px;
    margin-top: 15px;
    font-size: 1rem;
}

.icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #00dffc;
}

.input-search {
    padding-left: 50px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.678);
    letter-spacing: 0px;
}

input {
    border-style: none;
    background: transparent;
    outline: none;
}

.btn-search {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background: linear-gradient(90deg, #0065FC, transparent) #0065fcbd;
    color: white;
    border: none;
    font-size: 1.1rem;
    width: 150px;
    cursor: pointer;
    transition: background-color 1s;
}

.btn-search:hover {
    background-color: #00abdf;
}

/* Current Weather Section Styling */
.weather-container {
    grid-area: rightSide;
    padding: 20px;
    background-color: rgba(61, 0, 141, 0.5);
    color: white;
    width: 95%;
    border-radius: 10px;
    display: grid;
    grid:
    "location location location" auto
    "weather-details details-info ." 1fr
    ". . ." auto
    / auto 1fr auto;
  gap: 8px;
}

.location-info {
    grid-area: location;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.location-header {
    display: flex;
    gap: 5px;
    font-size: 1.8rem;
    font-weight: bold;
}

.location-date-info {
    display: flex;
    gap: 5px;
    font-size: 1.3rem;
}

.weather-details-container {
    grid-area: weather-details;
}

.temperature-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(61, 0, 141, 0.8);
    padding: 20px;
    width: 250px;
    height: 170px;
    border-radius: 5px;
    gap: 5px;
    background-repeat: no-repeat;
    background-position: center;
}

.temperature-info i{
    font-size: 3.5rem;
}

.air-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(61, 0, 141, 0.8);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    height: 170px;
    gap: 5px;
    background-image: linear-gradient(rgba(61, 0, 141, 0.6), rgba(61, 0, 141, 0.8)), url(images/compass.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
}

.weather-temperature {
    font-size: 2rem;
    font-weight: bold;
}

.weather-desc, .weather-details, .weather-long, .weather-lat {
    font-size: 1.1rem;
}

.weather-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.weather-info img {
    width: 35px;
}

.weather-arrow {
    transition: 0.3s;
}

.current-container {
    display: flex;
    flex-direction: column;
}

.details-info-container {
    grid-area: details-info;
    background-color: rgba(61, 0, 141, 0.8);
    padding: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.details-title {
    opacity: 0.8;
    font-size: 1rem;
    font-weight: bold;
}

.details-data {
    font-weight: bold;
}

/* Forecast Section Styling */
.forecast-container {
    margin-top: 30px;
    color: white;
}

.forecast-container h3 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

.weekly-section {
    width: 90%;
    text-align: center;
    border-spacing: 0;
    margin: 0 auto;
    background-color: #4C00AF;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.weekly-row:nth-child(2n) {
    background: linear-gradient(90deg, rgba(95,0,219,1) 70%, rgba(95,0,219,0.5046393557422969) 100%);
    backdrop-filter: blur(10px);
}

.weekly-row td {
    padding: 2rem 5.5rem;;
}

.forecast-title {
    opacity: 0.8;
    font-size: 1rem;
    font-weight: bold;
}

.forecast-desc {
    font-size: 1.1rem;
    font-weight: bold;
}

.forecast-day {
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #FFBD00;
    border-radius: 50px;
    padding: 5px 15px;
}

.weather-icon {
    width: 80px;
}